@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<img src="/images/rugsfour.jpg" alt="" width="500" height="600">
<p>Discover a story that began with a handshake and became a company that creates timeless, quality rugs that benefit humanitarian efforts.</p>
<br /><p>See how our vision, combined with craftsmanship and superior materials, has revolutionalized the Oriental rug world.</p><br />
<p>We share a collective pride that we produce and source the finest quality rugs in the world. For 20 years we have been driven by curiosity and a cultivated collector’s eye, travelling far and wide to discover rare and exceptional pieces. Crafting each rug takes four months, but they last generations because we use the same time-honoured techniques employed by artisans for hundreds of years.</p>
