@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rugs Shop </h1>
    <img src="/images/rugsone.jpg" alt="" width="500" height="600">
</div>
